*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
h1{
	display: block;
	text-align: center;
	margin: 40px  auto;
	font-family: 'Itim', cursiva;
	color: #333;
	text-shadow: 2px 0px 3px #777;
}
form {
	height: 440px;
	width: 350px;
	border-radius: 15px;
	background: lightgreen;
	box-shadow: 10px 15px 4px #777;
}
input[type="text"]{
	display: block;
	margin: 20px auto;
	margin-bottom: 10px;
	width: 85%;
	height: 20%;
	font-size: 30px;
	text-align: center;
	font-family: 'Itim', cursiva;
	background-color: #ffd;
	color: #777;
	border-radius: 15px;
	outline: none;
	border: #ffd;
}
.calculator_container {
	height: calc(400px - 110px);
	display: grid;
	grid-template-columns: repeat(4,25%);
	padding: 5px 15px 0px 15px;
}
.reset{
	display: block;
	grid-column: 1/span 4;
	width: 60%;
	height: 75%;
	margin: 0px auto;
	margin-bottom: 5px;
	border: none;
	border-radius: 10px;
	background-color: #900;
	color: #ddd;
	font-weight: bolder;
	font-size: 35px;
	cursor: pointer;
}
.reset:hover {
	background-color: #b00;
}
.reset:active{
	background-color: #900;
	transform: scale(.9);
}
input[type="button"] {
	margin: 5px auto;
	border-radius: 100%;
	width: 70%;
	height: 90%;
	border: none;
	color: #fff;
	background-color: #000;
	font-size: 16px;
	cursor: pointer;
	outline: none;
}
input[type="button"]:active{
	transform: scale(.9);
}
input[value="0"],input[value="1"],input[value="2"],input[value="3"],input[value="4"],input[value="5"],input[value="6"],input[value="7"],input[value="8"],input[value="9"]{
	background-color: #23B52C;
	font-weight: bolder;
}
input[value="x"],input[value="-"],input[value="+"],input[value="/"],input[value="."]{
	background-color: #2784BB;
	font-weight: bolder;
}
input[value="="]{
	background-color: #E98F17;
	font-weight: bolder;
	font-size: 20px;
}
.color{
	outline: 1px solid #000;
}
